@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fadeIn {
  -webkit-animation: fadein .45s ease-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein .45s ease-out; /* Firefox < 16 */
  -ms-animation: fadein 0.45s ease-out; /* Internet Explorer */
  -o-animation: fadein 0.45s ease-out; /* Opera < 12.1 */
  animation: fadein 0.45s ease-out;
}

.fadeIn.nonInit {
  -webkit-animation: fadein .15s ease-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein .15s ease-out; /* Firefox < 16 */
  -ms-animation: fadein 0.15s ease-out; /* Internet Explorer */
  -o-animation: fadein 0.15s ease-out; /* Opera < 12.1 */
  animation: fadein 0.15s ease-out;
}

html { 
  width: 100%; height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 50px 0;
  font-family: monospace;
  width: 100%;
  overflow-x: hidden;
  color: rgba(0,0,0,.8);
}

.App {
  margin: 0 auto;
  text-align: left;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-weight: 400;
}

.header {
  border-top: 2px solid #FF6A6A;
  border-bottom: 2px solid #FF6A6A;
  width: 300px;
  text-align: center;
  padding: 10px;
  transform: rotate(2deg);
}

.header > * {
  display: block;
  transform: rotate(-2deg);
}

.header.main,
.Instagram .header {
  margin: 10px auto;
}

.header.main {
  border-top: none;
  padding-bottom: 20px;
  margin-bottom: 55px;
}

.Instagram .header {
  font-size: 3em;
  padding: 2px 10px;
  border-top: none;
  margin-bottom: 10px;
  height: 65px;
}

.top {
  max-width: 80%;
  min-width: 600px;
  margin: 10px auto;
  text-align: center;
  margin-bottom: 70px;
}

.Instagram {
  width: 450px;
  text-align: center;
}

.Image {
  width: 26%;
  margin: 10px;
  display: inline-block;
}

.Image img {
    width: 100%;
}

.me {
  width: 70px !important;
  border-radius: 5px;
  position: fixed;
  top: 15px;
  left: 15px;
}

.top > * {
  display: inline-block;
}

.Main {
  width: 350px;
  font-size: 1.1em;
  text-align: left;
  vertical-align: top;
  margin-top: -15px;
}

.Main .text {
  line-height: 15px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #FF6A6A;
  transform: rotate(1deg);
  padding: 0 5px;
}

a.twitter {
  background: #0097FF;
}

a.gh {
  background: rgba(0,0,0,.65);
}

a.ln {
  background: #0077B5;
}

.Image {
  transform: none;
  padding: 0;
}

.Image > * {
  transform: none;
}

a > * {
  display: block;
  transform: rotate(-1deg);
}

.Music {
  margin-top: 50px;
  padding: 5px 10px 15px 10px;
}

.Music img {
  display:inline-block;
  border-radius:5px;
  margin-right: 20px;
  width: 50px; height: 50px;
  vertical-align: bottom;
}

.Music .loading {
  border-radius: none;
  width: 20px; height: auto;
  background: none;
  margin-right: 10px;
}

.Music .meta {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  line-height: 10px;
}

.Music .meta .name {
  text-transform: uppercase;
  line-height: 15px;
}

.Work {
  width: 60%;
  margin: 35px auto;
  text-align: center;
}

.WorkThumb {
  width: 28%;
  margin: 10px;
}

.WorkThumb img {
  width: 100%;
}

.Work .header,
.Writing .header {
  margin: 30px auto;
  border-top: none;
}

.WorkItem {

}

.WorkItem img {
  width: 40%;
  margin: 10px auto 50px auto;
  display:block;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,.04);
}

.WorkItem .description {
  width:30%;
  font-size:1.2em;
  margin: 50px auto;
}

.WorkItem a {
  display: block;
  font-size: 1.5em;
  text-align: center;
  max-width:160px;
  margin: 10px auto;
}

.WorkItem .back {
  position: fixed;
  top: 15px;
  left: 15px;
  color: #FF6A6A;
  background: none;
  transform: none;
  font-size: 3em;
  font-weight: 800;
}

footer {
  text-align: center;
  margin: 50px auto -20px auto;
}

footer b {
  color: #FF6A6A;
}

.Post {
  display: block;
  background: none;
  color: rgba(0,0,0,.8);
  border-bottom: 1px solid #FF6A6A;
  margin: 10px auto;
  text-align: center;
  width: 250px;
  padding: 10px;
  font-size: 1.25em;
}

.Post:hover {
  transition: .1s;
  color: #ff0505;
}

.hidden {
  display: none;
}

.Navigation {
  position: fixed;
  left: -10px;
  top: 120px;
}

.Navigation ul {
  border-left: 3px dotted #FF6A6A;
  padding-left: 0;
  margin-left: 25px;
}

.Navigation ul li {
  list-style: none;
  padding: 30px;
  font-size:1.4em;
  vertical-align: middle;
  cursor: pointer;
}

.Navigation ul li.selected {
  color: #FF6A6A;
  border-left: 3px solid #ff0505;
  transform: none;
  margin-left: -3px;
}

.cool {
  padding: 5px;
  text-align: center;
  margin: 5px auto;
  font-size: 1.3em;
}

.ting {
  width: 100%;
  margin: 30px auto;
  margin-top: auto;
  opacity: 0;
  animation-fill-mode: forwards;
}

.ting p {
  width: 90%;
  margin: 10px auto;
}

.ting li {
  display: inline-block;
  margin: 0 10px;
}

.header.main { opacity: 0; animation-fill-mode: forwards; animation-delay: .04s;}

.ting:nth-child(1) { animation-delay: .1s; }
.ting:nth-child(2) { animation-delay: .16s; }
.ting:nth-child(3) { animation-delay: .22s; }
.ting:nth-child(4) { animation-delay: .28s; }

.Music { opacity: 0; animation-fill-mode: forwards; animation-delay: .34s;}

@media (max-width: 620px) {
  .hidden {
    display: inline-block;
  }

  .hidden.Writing,
  .hidden.Work {
    display: block;
    margin: 60px auto;
  }

  .Navigation {
    display: none;
  }
}

@media (max-width: 420px) {

  body {
    margin: 0;
    padding: 0;
  }

  .header.main {
    margin-bottom: 0px;
  }

  .top {
    margin-top: 15px;
    min-width: auto;
  }

  .me {
    position: relative;
    margin: 20px auto;
    top: 0;
    left: 0;
    display: block;
  }

  .Instagram,
  .Main,
  .Work {
    width: 90%;
  }

  .Instagram .Image {
    width: 20%;
  }

  .Main {
    width: 100%;
    min-width: 0;
    margin: 0 auto;
  }

  .Main .text {
    display: block;
    width: 93%;
    margin: 10px auto;
  }

  .Main .ting li a {
    margin: 10px;
  }

  .Music.header{
    width: 100%;
    display: block;
    margin: 50px auto;
    margin-left: -3%;
    padding-top: 10px;
  }

  .Work {
    text-align: center;
    margin: 10px auto;
  }

  .Work .header {
    display: block;
  }

  .WorkThumb {
    display: block;
    width: 80%;
    margin: 10px auto;
    position: relative;
    left: -4.5px;
  }

  footer {
    margin-bottom: 60px;
  }

  .WorkItem .back {
    display: none;
  }

  .WorkItem img {
    width: 100%;
    box-shadow: none;
    margin-top: 0;
    border-radius: 0px;
  }

  .WorkItem .description {
    width: 80%;
  }

  .header {
    width: 80%;
    margin-left: -6%;
  }
}
